.im img{
    width: 100%;
    height: auto;
}
.ma{
    margin-top: 2em;
    padding: 2em;

}
.bu{
   
    background-color: navy;
    color: white;
}
.cct{
    background-color:  rgb(125, 243, 243);
}

.ko {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: aliceblue;
}